<table>
  <thead>
    <tr>
      <th>Task Name</th>
      <th>Start</th>
      <th>End</th>
      <th>Duration</th>
      <th>Banding</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each tasks as |task|}}
      {{task-editor task=task}}
    {{/each}}
    {{new-task-editor task=task}}
  </tbody>
</table>
