<td>
  <input value={{task.name}} />
</td>
<td>
  <input value={{task.startDate}} />
</td>
<td>
  <input value={{task.endDate}} />
</td>
<td>
  <input value={{task.duration}} />
</td>
<td>
  <select>
    <option>Placeholder</option>
  </select>
</td>
