.time-line {
  margin: 4em auto;
  overflow: hidden;
  width: 90%;

  .container {
    border-bottom: 1px solid $black;
    height: 50px;
    position: relative;
  }

  .timeline-task {
    border-left: 1px solid $black;
    height: 50px;
    left: 0;
    position: absolute;
    text-align: left;
    top: 0;
    width: 50px;

    .date {
      color: $grey;
    }

    .icon {
      bottom: -8px;
      left: -8px;
      line-height: 12px;
      position: absolute;
    }

    .band {
      display: none;
    }
  }


}
